@import "assets/scss/main.scss";
.hero {
    @include container;
    @include flex-col;
    @include flex-center;
    background: url('../../assets/images/background.png') no-repeat center center / cover;
    &-header {
        @include container;
        border-radius: 0 0 9rem 9rem;
        background: #ffffff;
        & figure img {
            width: 20rem;
        }
    }
    &-title {
        padding: 0 1rem;
        margin-top: 3rem;
        @include container;
        @include flex-row;
        @include flex-center;
        & h2 {
            font-size: 2rem;
            line-height: 2rem;
        }
        & figure {
            margin: 0;
            padding-right: 1.5rem;
            & img {
                width: 6rem;
            }
        }
    }
    &-body {
        width: 85%;
        height: 100%;
        padding: 0 2rem;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.8rem;
        & strong {
            color: red;
            font-weight: 800;
            margin-right: .5rem;
            & svg {
                font-size: 3rem;
                transform: rotate(-25deg);
            }
        }
    }
    &-apps {
        margin: 0;
        padding: 2rem 0;
        width: 30rem;
        @include flex-col;
        @include flex-center;
        & span {
            margin: 1.5rem 0;
            padding: 1rem 3rem;
            font-size: 3.5rem;
            line-height: 3.5rem;
            font-weight: 700;
            border-radius: 2rem;
            background: linear-gradient(90deg, red 20%, green 80%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-app {
        width: 25rem;
        height: 35rem;
        margin: 4rem 0;
        // border: 3px solid rgb(203, 203, 203);
        box-shadow: 1rem 1rem 1rem rgb(183, 183, 183);
        border-radius: 1.7rem;
        @include flex-col;
        @include flex-center;
        &:hover {
            background: #fff;
        }
        & figure {
            & img {
                width: 19rem;
            }
        }
        &__title {
            @include flex-col;
            @include flex-center;
            & h2 {
                margin: 0;
                color: rgb(38, 38, 38);
                width: 20rem;
                font-size: 1.9rem;
                line-height: 2.5rem;
                text-align: center;
            }
        }
    }
    &-link {
        text-decoration: none;
    }
}

@include breakpoint-md{
    .hero {
        &-header {
            & figure img {
                width: 23rem;
            }
        }
        &-title {
            & h2 {
                font-size: 2.3rem;
                line-height: 2.3rem;
            }
            & figure {
                & img {
                    width: 7rem;
                }
            }
        }
        &-body {
            font-size: 1.9rem;
            line-height: 1.9rem;
            & strong {
                & svg {
                    font-size: 3rem;
                }
            }
        }
        &-apps {
            width: 30rem;
        }
        &-app {
            width: 28rem;
            height: 38rem;
            & figure {
                & img {
                    width: 20rem;
                }
            }
            &__title {
                & h2 {
                    width: 20rem;
                    font-size: 1.9rem;
                    line-height: 2.5rem;
                }
            }
        }
    }
}
@include breakpoint-lg{
    .hero {
        &-header {
            & figure img {
                width: 23rem;
            }
        }
        &-title {
            & h2 {
                font-size: 2.3rem;
                line-height: 2.3rem;
            }
            & figure {
                & img {
                    width: 7rem;
                }
            }
        }
        &-body {
            font-size: 1.9rem;
            line-height: 1.9rem;
            & strong {
                & svg {
                    font-size: 3rem;
                }
            }
        }
        &-apps {
            width: 30rem;
            & span{
                font-size: 3.8rem;
                line-height: 3.8rem;
            }
        }
        &-app {
            width: 32rem;
            height: 38rem;
            &__title {
                & h2 {
                    width: 22rem;
                    font-size: 2.1rem;
                    line-height: 2.7rem;
                }
            }
        }
    }
}

@include breakpoint-tab{
    .hero {
        &-apps {
            @include container;
            & span{
                font-size: 4rem;
                line-height: 4rem;
            }
            &-cards{
                @include flex-row;
                @include flex-center;
                flex-wrap: wrap;
            }
        }
        &-app {
            width: 30rem;
            height: 38rem;
            &__title {
                & h2 {
                    width: 22rem;
                    font-size: 2.1rem;
                    line-height: 2.7rem;
                }
            }
        }
        &-link{
            margin: 4rem 3rem;
        }
    }
}
@include breakpoint-tab-lg{
    .hero {
        &-apps {
            @include container;
            & span{
                font-size: 4rem;
                line-height: 4rem;
            }
            &-cards{
                @include flex-row;
                @include flex-center;
                flex-wrap: wrap;
            }
        }
        &-app {
            width: 33rem;
            height: 38rem;
            &__title {
                & h2 {
                    width: 22rem;
                    font-size: 2.1rem;
                    line-height: 2.7rem;
                }
            }
        }
        &-link{
            margin: 4rem 4.5rem;
        }
    }
}